.header
.menu
    .menu_list
        %ul.left_list
            %li.item_list 
                %a{:href => 'index.html'}>Home
            %li.item_list 
                %a{:href => 'http://ruby-lang.org'}>About
    .menu_list
        %ul.right_list
            %li.item_list 
                %a{:href => 'http://ruby-lang.org'}>Category
                %span.arrow
                .category_list
                    %ul
                        %li
                            %a{:href => 'http://ruby-lang.org'}>Diary
                        %li 
                            %a{:href => 'http://ruby-lang.org'}>Personal
                        %li 
                            %a{:href => 'http://ruby-lang.org'}>Holiday
                        %li 
                            %a{:href => 'http://ruby-lang.org'}>Work
                        %li 
                            %a{:href => 'http://ruby-lang.org'}>Family
            %li.item_list 
                %a{:href => 'http://ruby-lang.org'}>Contact