---
title: home
---
.title_blog.center Hello, Welcome to my Blog!
.line
.article_blog#note1
    .data_blog
        %span cat : 
        %a{:href => 'http://ruby-lang.org'}> Diary , Personal
        %span.heart.icons 
            %a{:href => 'http://ruby-lang.org'}>136 Likes
        %span.comment.icons 
            %a{:href => 'http://ruby-lang.org'}>21 Comments
    %h1 Lorem Ipsum Dolor Sit Amet
    %p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti. 
    %a{:href => 'single.html', :class => "more"}>Read More
.line_dashed
.article_blog#note2
    .data_blog
        %span cat : 
        %a{:href => 'http://ruby-lang.org'}> Diary , Personal
        %span.heart.icons 
            %a{:href => 'http://ruby-lang.org'}>136 Likes
        %span.comment.icons 
            %a{:href => 'http://ruby-lang.org'}>21 Comments
    %h1 Lorem Ipsum Dolor Sit Amet
    %p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti. 
    %a{:href => 'http://ruby-lang.org', :class => "more"}>Read More
.line_dashed
.article_blog#note3
    .data_blog
        %span cat : 
        %a{:href => 'http://ruby-lang.org'}> Diary , Personal
        %span.heart.icons 
            %a{:href => 'http://ruby-lang.org'}>136 Likes
        %span.comment.icons 
            %a{:href => 'http://ruby-lang.org'}>21 Comments
    %h1 Lorem Ipsum Dolor Sit Amet
    %p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti. 
    %a{:href => 'http://ruby-lang.org', :class => "more"}>Read More
.line_dashed
.article_blog#note4
    .data_blog
        %span cat : 
        %a{:href => 'http://ruby-lang.org'}> Diary , Personal
        %span.heart.icons 
            %a{:href => 'http://ruby-lang.org'}>136 Likes
        %span.comment.icons 
            %a{:href => 'http://ruby-lang.org'}>21 Comments
    %h1 Lorem Ipsum Dolor Sit Amet
    %p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti. 
    %a{:href => 'http://ruby-lang.org', :class => "more"}>Read More
.line_dashed
%button.button Load More
.rights.center 
    Copyrights (c) &nbsp  
    %a{:href => 'http://ruby-lang.org'}> Fikristudio
    &nbsp 2014
   